// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "~tailwindcss/base";

@import "~tailwindcss/components";

@import "~tailwindcss/utilities";

.bg-grey-light{
    background-color: #f5f6f9;
}

.grey{
    color: rgba(0, 0, 0, 0.4);
}

.button{
    background-color: #47cdff;
    color: white;
    text-decoration: none;
    box-shadow: 0 2px 7px 0 #b0eaff;
    border-radius: .5rem;
    font-size: 14px;
    padding: 0.5rem 1.25rem;
}
